<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>		
    <title>{% block title %}CronHooks - Webhook Cronjobs{% endblock %}</title>
    <link href="/static/style.css" type="text/css" rel="stylesheet" />
    {% block head %}{% endblock %}
  </head>
  <body>
    <div id="wrapper">
      <div id="header">
        <div style="float: right;">
          {% if user %}
          {{ user.nickname }} | <a href="{{ logout_url }}">Logout</a>
          {% else %}
          Not logged in. <a href="{{ login_url }}">Login?</a>
          {% endif %}
        </div>
        <h1>CronHooks</h1>
      </div>
      <div id="content">{% block content %}{% endblock %}</div>
      <div id="footer">&copy;2009 Stoyan Zhekov | 
	      <a href="http://creativecommons.org/licenses/by/3.0/">CC License</a> |
	      <a href="http://github.com/zh/cronhooks/">Sources</a>
      </div>
      </div>
      {% block bottom %}{% endblock %}
    </div>
  </body>
</html>
